Django==1.10.7
MySQL-python==1.2.5
appdirs==1.4.3
argparse==1.2.1
chardet==3.0.2
django-bootstrap-form==3.3
django-tinymce==2.6.0
gunicorn==19.7.1
packaging==16.8
pyparsing==2.2.0
pytz==2017.2
six==1.10.0
sqlparse==0.2.3
wsgiref==0.1.2
