{% extends "base.html" %}
{% load static %}
{% load bootstrap %}

{% block title %}
  Kunde - {% if create %}neu{% else %}ändern{% endif %}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'pickadate/themes/classic.css' %}" id="theme_base">
<link rel="stylesheet" href="{% static 'pickadate/themes/classic.date.css' %}" id="theme_date">
{% endblock %}

{% block heading %}
  <h2>
    {% if create %}
      Wiedervorlage löschen
    {% else %}
      Wiedervorlage ändern
    {% endif %}
  </h2>
{% endblock %}

{% block content %}
  <form action="" method="post" accept-charset="utf-8">
    {{ form|bootstrap }}
    {% csrf_token %}
    <p>
      <input type="submit" class="btn btn-danger btn-xs" value="Speichern">
      <a href="/" id="cancel" name="cancel" class="btn btn-default btn-xs">Abbruch</a>
    </p>
    <div class="alert alert-info" role="alert">Felder mit * sind Pflichfelder.</div>
  </form>
{% endblock %}
{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/de.js"></script>
<script src="{% static "pickadate/picker.js" %}"></script>
<script src="{% static "pickadate/picker.date.js" %}"></script>
<script src="{% static "pickadate/picker.time.js" %}"></script>
<script src="{% static "pickadate/legacy.js" %}"></script>
<script src="{% static "pickadate/translations/de_DE.js" %}"></script>
<script>
  $(document).ready(function(){
    $('.datepicker').pickadate({
      format: 'dd.mm.yyyy',
      min: new Date(),
    });
  })
</script>
{% endblock %}

