{% extends "base.html" %}
{% load static %}
{% load bootstrap %}

{% block title %}
  Kunde - {% if create %}neu{% else %}ändern{% endif %}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'pickadate/themes/classic.css' %}" id="theme_base">
<link rel="stylesheet" href="{% static 'pickadate/themes/classic.date.css' %}" id="theme_date">
{% endblock %}

{% block heading %}
  <h2>
    {% if create %}
      Neuen Kunden anlegen
    {% else %}
      Kundendaten ändern
    {% endif %}
  </h2>
{% endblock %}

{% block content %}
  {% if create %}
    {% url "customer_create" as action_url %}
  {% else %}
    {% url "customer_edit" pk=form.instance.pk as action_url %}
  {% endif %}
  <form class="form-horizontal" action="{{ action_url }}" method="post" accept-charset="utf-8">
    {{ form|bootstrap_horizontal }}
    {% csrf_token %}
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <button type="submit" class="btn btn-primary">Speichern</button>
        <a href="/custlist/" id="cancel" name="cancel" class="btn btn-default">Abbruch</a>
      </div>
    </div>

  </form>
{% endblock %}
{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/de.js"></script>
<script src="{% static "pickadate/picker.js" %}"></script>
<script src="{% static "pickadate/picker.date.js" %}"></script>
<script src="{% static "pickadate/picker.time.js" %}"></script>
<script src="{% static "pickadate/legacy.js" %}"></script>
<script src="{% static "pickadate/translations/de_DE.js" %}"></script>
<script>
  $(document).ready(function(){
    $('.datepicker').pickadate({
      format: 'dd.mm.yyyy',
      min: new Date(),
    });
  })
</script>
{% endblock %}

