{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
  Kunde - {% if create %}neu{% else %}ändern{% endif %}
{% endblock %}

{% block heading %}
  <h2>
    {% if create %}
      Wiedervorlage löschen
    {% else %}
      Wiedervorlage ändern
    {% endif %}
  </h2>
{% endblock %}

{% block content %}
  {% if create %}
    {% url "customer_create" as action_url %}
  {% else %}
    {% url "customer_edit" pk=form.instance.pk as action_url %}
  {% endif %}
  <form action="{{ action_url }}" method="post" accept-charset="utf-8">
    {{ form|crispy }}
    {% csrf_token %}
    <p>
      <input type="submit" class="btn btn-default" value="Speichern">
      <a href="/custlist/" id="cancel" name="cancel" class="btn btn-default">Abbruch</a>
    </p>
  </form>
{% endblock %}
{% block javascript %}
    <script>
     $(document).ready(function(){
      $('.datepicker').datepicker();
    })</script>
{% endblock %}

