{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
  Kunde - {% if create %}neu{% else %}ändern{% endif %}
{% endblock %}

{% block heading %}
  <h2>
    {% if create %}
      Wiedervorlage löschen
    {% else %}
      Wiedervorlage ändern
    {% endif %}
  </h2>
{% endblock %}

{% block content %}
  <form action="" method="post" accept-charset="utf-8">
    {{ form|crispy }}
    {% csrf_token %}
    <p>
      <input type="submit" class="btn btn-danger btn-xs" value="Speichern">
      <a href="/" id="cancel" name="cancel" class="btn btn-default btn-xs">Abbruch</a>
    </p>
    <div class="alert alert-info" role="alert">Felder mit * sind Pflichfelder.</div>
  </form>
{% endblock %}
{% block javascript %}
    <script>
     $(document).ready(function(){
      $('.datepicker').datepicker();
    })</script>
{% endblock %}

